---
import Main from "../../layouts/Main.astro"
import ProjectHeader from "../../components/molecules/ProjectHeader.astro"
import Breadcrumb from "../../components/molecules/Breadcrumb.astro"
import Ctacontact from "../../components/molecules/Ctacontact.astro"
import { Markdown } from 'astro/components';
export async function getStaticPaths() {
  const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&starts_with=realisations&cv=${Date.now()} `)
  const { stories } = await data.json()
  return stories.map(project => {
    return {
      params: {
        slug: project.content.slug
      },
      props: {
        project
      }
    }
  })
}
const { project } = Astro.props
---

<Main title={project.content.title + " | loak.studio" } description={project.content.description}>
  <Breadcrumb link={[{title:'Réalisations',href:"/realisations"}]} current={project.content.title} />
  <ProjectHeader {...project.content} />
  <article id="md" class="px-4 mt-36 max-w-[64ch] mx-auto">
    <Markdown content={project.content.content} />
  </article>
  <Ctacontact />
</Main>