---
import Main from "../../layouts/Main.astro"
import Breadcrumb from "../../components/molecules/Breadcrumb.astro"
import Project from "../../components/molecules/Project.astro"
import Rocket from "../../images/rocket.webp"
const data = await fetch('https://api.storyblok.com/v1/cdn/stories' + `?&token=${"0N5jxUC1Wq7PEsvMxAOmrgtt"}&starts_with=realisations&cv=${Date.now()} `)
const { stories } = await data.json()
const first = stories[0]
stories.shift()
---

<Main title="Réalisations | loak.studio">
    <Breadcrumb current="Réalisations" />
    <section id="page-portfolio" class="relative w-full max-w-6xl mx-auto">
        <img id="rocket" class="absolute z-10 hidden w-56 -rotate-90 xl:block lg:-right-16 2xl:-right-24" src={Rocket}
            alt="">
        <Project {...first.content} />
        {stories.map(project=>
        <Project {...project.content} />
        )}
    </section>
</Main>