---
import Desktop from "../../../images/hero/computer-dynamic-clay.webp"
---
<section class="flex md:flex-row px-4 lg:px-0 flex-col max-w-4xl gap-10 w-full mx-auto pb-36">
    <div>
        <figure class="w-52 -rotate-12">
            <img width="500" height="500" src={Desktop} alt="">
        </figure>
    </div>
    <div>
        <h2 class=" text-3xl font-semibold mb-5">Notre expertise</h2>
        <p>
            L’expertise de loak.studio est basée sur les outils et technologies les plus récentes et performante. Nous
            utilisons, par exemple, Figma pour la création de maquette ainsi que pour le prototypage. Cela nous permet
            d’anticiper le rendu d’un projet et de gagner à la fois en temps de développement et en finesse.
        </p>
        <p>
            Nous avons à coeur d’améliorer le web en profondeur en y apportant notre vision et nos compétences

        </p>
    </div>
</section>