---
const services = [
    {
        label: 'Application web et  e-commerce'
    },
    {
        label: 'Conception d\'expérience utilisateur'
    },
    {
        label: 'Site vitrine'
    },
    {
        label: 'Création d\'API'
    }
]
---

<section
    class="relative after:w-full after:absolute after:bottom-0 after:-z-10 after:h-[350px] lg:after:bg-gray-100 pb-36">
    
    <div class="max-w-6xl w-full mx-auto relative">

        <img class="absolute right-0 -rotate-12 top-28" src="https://via.placeholder.com/200x200" alt="">
        <div class=" p-2 md:p-7 bg-white lg:shadow-xl max-w-2xl rounded-md">
            <h3 class=" font-semibold text-3xl mb-5">Nos services</h3>
            <p class="mb-10">Nous avons des solutions à chacun de vos problèmes</p>

            <ul class=" space-y-7 md:flex md:flex-col md:items-start">
                {services.map(service=>
                <li
                    class="w-full md:w-auto flex group items-center overflow-hidden gap-7 before:transition-all transition before:w-full before:-left-full before:z-0 before:absolute hover:before:left-0 before:h-full before:bg-gray-100 relative border-transparent border hover:delay-100 hover:border-primary-500 p-2 rounded-md">
                    <figure class="z-10 shrink-0">
                        <img class=" w-12 h-12" src="https://via.placeholder.com/150x150" alt="">
                    </figure>
                    <a href="#" class="z-10 before:absolute before:inset-0 md:text-2xl">{service.label}</a>
                    <span class="z-10 block cursor-pointer delay-150 transition-all md:group-hover:ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class=" stroke-primary-500" width="30" height="30"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#888787" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="13" y1="18" x2="19" y2="12" />
                            <line x1="13" y1="6" x2="19" y2="12" />
                        </svg>
                    </span>
                </li>
                )}
            </ul>
        </div>
    </div>

</section>