---

const cases = [
    {
        title: 'SavuerBelge',
        picture: 'https://via.placeholder.com/1920x1080',
        type: 'Application web'
    },
    {
        title: 'SavuerBelge',
        picture: 'https://via.placeholder.com/1920x1080',
        type: 'Application web'
    },
    {
        title: 'SavuerBelge',
        picture: 'https://via.placeholder.com/1920x1080',
        type: 'Application web'
    },
]
---

<section class="px-4 lg:px-0 before:w-full before:absolute before:-z-10 before:h-[650px] lg:before:bg-gray-100">
    <h2 class="font-semibold text-center text-3xl mb-10">Etude de cas</h2>
    <div class="md:grid space-y-8 md:space-y-0 md:grid-rows-2 gap-12 md:grid-cols-2 max-w-5xl w-full mx-auto">
        {cases.map((item,index)=>
        <div class={"flex flex-col bg-white lg:p-7 lg:shadow-xl rounded-md" + (index==1 ? ' md:row-span-2' : '' )}>
            <figure class="rounded-md overflow-hidden h-full">
                <img class="h-full w-full object-cover" src={item.picture} alt="">
            </figure>
            <div class="mt-7 flex justify-between items-center">
                <h3 class="text-primary-800 text-2xl">
                    {item.title}
                </h3>
                <span class=" bg-primary-500 text-white rounded-md py-1 px-2">
                    {item.type}
                </span>
            </div>
        </div>
        )}
    </div>
</section>