---
import Pen from "../../../images/pencil.webp"
const toolsList = [
    {
        title: "Frontend",
        content: [
            'Svelte',
            'React',
            'Astro',
            'Leaflet',
            'TailwindCSS'
        ],

    },
    {
        title: "Backend",
        content: [
            'Laravel',
            'FilamentPHP',
            'Adonis.js'
        ],

    },
    {
        title: "CMS",
        content: [
            'Strapi',
            'Storyblok'
        ],

    },
    {
        title: "Expérience utilisateur",
        content: [
            'Figma',
            'Adobe Illustrator',
            'Plausible Analytics'
        ],

    },
]
---

<section class="pb-36 px-4 lg:px-0 ">

    <h2 class="text-center text-3xl font-semibold">Nos outils</h2>
    <p class="text-center mt-5 mb-10">Nous avons des solutions à chacun de vos problèmes</p>
    <div class="relative grid grid-cols-2 gap-4 md:gap-0 md:grid-cols-4 max-w-2xl mx-auto">

    <img id="pen" width="500" height="500" class="absolute -left-64 rotate-12 top-28 max-w-[250px]" src={Pen} alt="">
        {toolsList.map(list=>
        <div>
            <h3 class=" text-2xl mb-4">{list.title}</h3>
            <ul class=" space-y-3.5">
                {list.content.map(tool=>
                <li>{tool}</li>
                )}
            </ul>
        </div>
        )}
    </div>
</section>