---
import Image from "@components/atoms/Image.astro";
import ReadMore from "@components/atoms/ReadMore.astro";
import { getWidthAndHeight } from "utils/image-size";
const { picture,href, title, text } = Astro.props
const image = getWidthAndHeight(picture.filename)
---

<article class="flex flex-col lg:flex-row gap-4 p-4 relative rounded-md lg:hover:bg-gray-100 transition">
    <figure class="shrink-0 aspect-video max-w-md">
        <Image file={picture.filename} classes="object-cover rounded-md object-center h-full w-full"/>
    </figure>
    <div class="">
        <h2 class="text-3xl">{title}</h2>
        <p class="line-clamp-3">{text}</p>
        <ReadMore href={href} />
    </div>
</article>