---
import ReadMore from "@components/atoms/ReadMore.astro";
const { picture,href, title, text } = Astro.props
---

<article class="flex flex-col lg:flex-row gap-4 p-4 relative rounded-md lg:hover:bg-gray-100 transition">
    <figure class="shrink-0 aspect-video max-w-md">
        <img class="object-cover object-center h-full w-full " src={"https:" + picture}alt="">
    </figure>
    <div class="">
        <h2 class="text-3xl">{title}</h2>
        <p class="line-clamp-3">{text}</p>
        <ReadMore href={href} />
    </div>
</article>