---
import ReadMore from "../../atoms/ReadMore.astro";
const { title, text } = Astro.props
---

<div class="relative bg-gray-200 transition lg:hover:bg-gray-100 space-x-4 flex p-4 rounded-md">
    <figure class="w-52 shrink-0">
        <img src="https://via.placeholder.com/1920x1080" alt="">
    </figure>
    <div>
        <h3 class="text-lg font-semibold">{title}</h3>
        <p class="line-clamp-2">{text}</p>
        <ReadMore />
    </div>
</div>