---
import Main from "@layouts/Main.astro";
---

<Main>
   <section class="flex flex-col items-center gap-4">
    <h1 class="text-center font-title text-4xl">Erreur 404</h1>
    <p>La page que vous avez demandée n'existe plus à cette adresse</p>
    <a class="text-primary-600 hover:underline" href="/">Retour à l'accueil</a>
   </section>
</Main>