---
import BlogPostPreview from "../components/molecules/BlogPost/BlogPostPreview.astro";
import CurrentBlogPostPreview from "../components/molecules/BlogPost/CurrentBlogPostPreview.astro";
import Breadcrumb from "../components/molecules/Breadcrumb.astro";
import Main from "../layouts/main.astro";
const articles = [
    {
        title: "Google analytics",
        summary: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi tenetur earum corrupti reiciendis consequatur delectus esse"
    },
    {
        title: "Plausible",
        summary: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste at hic voluptatibus voluptatem assumenda est praesentium enim accusamus molestiae dolor neque rerum veniam quibusdam, ab, obcaecati a maxime! Debitis, nesciunt."
    },
]
---

<Main title="Blog">

    <Breadcrumb navigation={[ { title:"Blog", href:"/blog" } ]} />
    <div class="max-w-5xl mx-auto">
        <h1 class="font-title text-5xl mb-8 pl-4">Blog</h1>
        <CurrentBlogPostPreview href="/blog/g-a/" title="Pourquoi éviter Google analytics pour plausible"
            text="TExte" />
        <div class="space-y-4">
            {articles.map(article=>
            <div class="border-t lg:border-none max-w-[64ch] pt-4">
                <BlogPostPreview title={article.title} text={article.summary} />
            </div>
            )}
        </div>
    </div>
</Main>