<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loak.studio</title>
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
</head>
<body class="flex justify-center items-center w-screen h-screen">
    <h1 class="text-3xl">Loak.studio</h1>
</body>
</html>
