---
import Main from "../layouts/main.astro"
import Lbutton from "../components/lbutton.astro"
---

<Main>
<Lbutton primary={false}>
Bouton
</Lbutton>
<Lbutton primary={true}>
Bouton
</Lbutton>
</Main>