---
import Hero from "../components/hero.astro"
import Main from "../layouts/main.astro"
import WhatWeDo from "../components/whatwedo.astro"
import Contact from "../components/ctacontact.astro"
import Work from "../components/work.astro"
---
<Main>
    <Hero/>
    <Contact/>
</Main>