---
import Main from "../layouts/Main.astro"
import Hero from "../components/molecules/Hero.astro"
import WhatIsLoak from "../components/molecules/WhatIsLoak.astro"
import OurRealizations from "../components/molecules/OurRealizations.astro"
import OurSolutions from "../components/molecules/OurSolutions.astro"
import Process from "../components/molecules/Process.astro"
import WhoAreWe from "../components/molecules/WhoAreWe.astro"
import Ctacontact from "../components/molecules/Ctacontact.astro"
---
<Main>
    <Hero/>
    <WhatIsLoak/>
    <OurRealizations/>
    <OurSolutions/>
    <Process/>
    <WhoAreWe/>
    <Ctacontact/>
</Main>