---
import Button from '../components/Button.jsx'
import PostPreview from '../components/PostPreview.jsx'
import Navbar from '../components/Navbar.jsx'
import Footer from '../components/Footer.jsx'
import Contact from '../components/Contact.jsx'
import Icons from '../components/Icons.jsx'
import Main from '../layouts/main.astro'

const url = "https://loak.studio"
const title = "loak.studio"
const description = "Nous sommes une agence web orientée vers des solutions éthiques, durables et écologiques. Notre but est d'offrir des expériences fluides, modernes et robustes."
---
<Main title={title} description={description} url={url}>
    <div class="flex flex-col min-h-screen px-4 bg-primary-darkest">
        <Navbar />
        <main class="relative flex items-center h-full w-full mx-auto my-16 px-4 gap-x-24 max-w-[1500px]">
            <div class="blur-[285px] w-28 h-28 bg-white absolute"></div>
            <div class="blur-[285px] w-28 h-28 bg-white absolute top-0 right-0 hidden md:block"></div>
            <div class="blur-[285px] w-28 h-28 bg-white absolute bottom-0 left-2/4 hidden md:block"></div>
            <div class="max-w-2xl text-white space-y-11">
                <h2 class="bg-grey-light bg-opacity-25 text-white text-lg p-2.5 rounded inline">Agence web à Tournai</h2>
                <p class="text-4xl">Hello, nous c'est loak.studio, une agence web moderne prète à relever tous vos défis.
                </p>
                <p>Créer un site devient monnaie courante. Chez loak, nous faisons plus que ça ! Nous
                    étudions votre projet et le développons votre site, e-commerce, application web, ... sur mesure.</p>
                <div class="flex flex-wrap gap-4">
                    <Button href='#' light={true}>
                        <Icons name="about" /> Ce que nous faisons
                    </Button>
                </div>
            </div>
            <figure>
                <img class="hidden max-w-2xl xl:flex" src="/assets/illustration.svg" alt="">
            </figure>
        </main>
    </div>

    <section class="bg-white">
        <div class="flex flex-col items-center justify-center py-16 mx-auto bg-white max-w-7xl gap-y-9">
            <p class="text-2xl">Nos derniers articles</p>
            <div class="grid grid-cols-6 gap-4 px-4">
        
                        <PostPreview classes="col-span-6 lg:col-span-2" title='Tailwind, le framework CSS qui fait évoluer vos projets de manière fantastique'
                    description='The smart marketing assistant that automates social media design, scheduling, & analytics. Learn Instagram Marketing.' />
                        <PostPreview classes="col-span-6 sm:col-span-3 lg:col-span-2" title='Tailwind, le framework CSS qui fait évoluer vos projets de manière fantastique'
                    description='The smart marketing assistant that automates social media design, scheduling, & analytics. Learn Instagram Marketing.' />
                        <PostPreview classes="col-span-6 sm:col-span-3 lg:col-span-2" title='Tailwind, le framework CSS qui fait évoluer vos projets de manière fantastique'
                    description='The smart marketing assistant that automates social media design, scheduling, & analytics. Learn Instagram Marketing.' />
            </div>
        </div>
    </section>

    <section class="relative bg-bg">
        <div class="blur-[285px] -mb-24 w-28 h-28 bg-white absolute bottom-0 left-1/4"></div>
        <div class="blur-[285px] -mt-24 w-28 h-28 bg-white absolute top-0 right-1/4"></div>
        <Contact />
    </section>

        <Footer />
</Main>