---
import Expertise from "@components/molecules/Landing/Expertise.astro";
import Hero from "@components/molecules/Landing/Hero.astro";
import References from "@components/molecules/Landing/References.astro";
import Reinsurance from "@components/molecules/Landing/Reinsurance.astro";
import Services from "@components/molecules/Landing/Services.astro";
import StudyCases from "@components/molecules/Landing/StudyCases.astro";
import Team from "@components/molecules/Landing/Team.astro";
import Tools from "@components/molecules/Landing/Tools.astro";
import Main from "@layouts/main.astro";
---

<Main>
	<Hero />
	<Reinsurance />
	<Expertise />
	<Services />
	<StudyCases />
	<Tools />
	<Team />
	<References />
</Main>