---
import Contactform from "../components/contactform.astro"
import Breadcrumb from "../components/breadcrumb.astro"
import Main from "../layouts/main.astro"
---
<Main>
   <article class="flex flex-col items-center text-center px-4">
    <h1 class="text-5xl mt-20">Nous avons bien reçu votre message</h1>
    <p class="mt-5">Nous vous répondrons dès que possible.</p>
    <a href="/" class="text-primary hover:underline">Retour à l'accueil</a>
   </article>
</Main>