---
import Main from "../layouts/Main.astro"
import bubble from "../images/tchat.webp"
import CustomButton from "../components/atoms/CustomButton.astro"
import Breadcrumb from "../components/molecules/Breadcrumb.astro"
const commonStyle = "px-4 py-2 rounded-tl-lg rounded-tr-lg" + " "
const answerStyle = commonStyle + "self-end rounded-bl-lg bg-primary-lighter text-lwhite"
const loakStyle = commonStyle + "rounded-br-lg bg-lwhite self-start"
---


<Main>
    <Breadcrumb link={{href:'/contact',title:"Contact"}} current="Message envoyé"/>
    <div action="/message-send" name="contact" data-netlify="true" class="relative flex flex-col max-w-6xl gap-3 p-4 mx-auto shadow-lg lg:px-16 lg:py-24 bg-lgrey-light lg:rounded-3xl">
    <h2 class="text-5xl text-center">Nous avons bien reçu votre message</h2>
    <p class="text-center">Nous vous répondrons dès que possible</p>
    <CustomButton href="/" classes="self-center" outline={true}>
        Retour à l'accueil
    </CustomButton>
    <img class="absolute hidden lg:block bottom-8 -left-20 w-52" src={bubble} alt="">
</div>
</Main>