@tailwind base;
@tailwind components;
@tailwind utilities; 

@font-face {
    font-family: "Lack";
    src: url("../fonts/Lack-Regular.otf");
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
*{
    @apply text-lblack font-content;
}