---
const {link,current} = Astro.props
---
<nav class="mx-auto mb-16 max-w-8xl text-lgrey-dark">
    <a href="/" class="after:content-['>'] after:mx-2">Accueil</a>
    {link &&
        <a href={link.href}>{link.title}</a>
    }
    <span class="text-lblack">
        {current}
    </span>
</nav>