---

import {getData } from "../functions"
const pages = await getData('pages')
---
<footer class="flex mt-36 px-14 bg-primary-darkest py-7">
    <address class="left-0 aboslute text-lwhite">
    addr
    </address>
    <nav class="flex flex-col gap-12 mx-auto md:flex-row text-lwhite">
        {pages.data.map(navItem=>
            <a class="hover:underline" href={'/' + (navItem.attributes.slug != "homepage" ? navItem.attributes.slug : '')}>{navItem.attributes.title}</a>
        )}
    </nav>
    <div class="absolute right-0 text-right">
        <div>
            
        </div>
        <p class="text-lwhite">&copy; 2022 loak.studio - Tous droits réservés</p>
        <div class="text-lwhite">
            <a href="#">Mentions légales</a> & <a href="#">Politique de confidentialité</a>
        </div>
    </div>
</footer>