---

import {getData } from "../functions"
const pages = await getData('pages')
console.log(pages.data)
---
<footer class="flex items-center justify-between text-lwhite px-14 bg-primary-darkest py-7">
    <address>
    </address>
    <nav>
        {pages.data.map(navItem=>
            <a href={'/' + navItem.attributes.slug}>{navItem.attributes.title}</a>
        )}
    </nav>
    <div class="text-right">
        <div>
            
        </div>
        <p>&copy; 2022 loak.studio - Tous droits réservés</p>
        <div class="">
            <a href="#">Mentions légales</a> & <a href="#">Politique de confidentialité</a>
        </div>
    </div>
</footer>