---
import Icon from "../components/icon.astro"
const date = new Date()
---
<footer class="flex flex-col items-center gap-4 md:flex-row mt-36 md:px-14 bg-primary-darkest py-7">
    <div class="flex flex-col items-center gap-4 text-center md:text-left md:items-start text-lwhite">
        <a class="flex items-center gap-4 hover:underline" href="mailto:contact@loak.studio"> <Icon size={30} name="mail"/> contact@loak.studio</a>
        <a class="flex items-center gap-4 hover:underline" href="tel:0471663248"><Icon size={30} name="phone"/> 0471 66 32 48</a>
        <a class="flex items-center gap-4 hover:underline" href=""><Icon size={30} name="pin"/> Rue du progrès 24/1, <br> 7503 Tournai</a>
    </div>
    <nav class="flex flex-col items-center gap-4 mx-auto md:gap-12 md:flex-row text-lwhite">
        <a class="hover:underline" href="/">Accueil</a>
        <a class="hover:underline" href="/contact">Contact</a>
    </nav>
    <div class="flex flex-col items-center text-right md:items-end">
        <div class="flex text-lwhite">
            <a class="transition-all hover:text-primary" target="_blank" href="https://github.com/loakstudio">
                <Icon name="github"/>
            </a>
            <a class="transition-all hover:text-primary" target="_blank" href="https://linkedin.com/loakstudio">
                <Icon name="linkedin"/>
            </a>
            <a class="transition-all hover:text-primary" target="_blank" href="https://instagram.com/loakstudio">
                <Icon name="instagram"/>
            </a>
        </div>
        <p class="text-lwhite">&copy; {date.getFullYear()} loak.studio - Tous droits réservés</p>
        <div class="text-lwhite">
            <a class="hover:underline" href="#">Mentions légales</a> & <a class="hover:underline" href="#">Politique de confidentialité</a>
        </div>
    </div>
</footer>