---
const {link="/test",primary=false} = Astro.props
let style = "inline-block rounded-xl leading-5 text-lg p-4 hover:opacity-80 border-2 border-transparent transition cursor-pointer hover:underline" + " "

if(primary){
    style += "bg-primary text-lwhite"
}else{
    style += "bg-white text-lblack hover:border-primary hover:bg-primary hover:bg-opacity-10"
}
---

<a href={link} class={style} target={link.includes('http:') ? '_blank' : '_self'}>
 <slot/>   
</a> 