---
import Logo from "./logo.astro"
const links = ['d']
---

<nav class="flex items-center justify-between py-10 px-14">
    <figure class="flex items-center gap-4 text-4xl text-primary">
        <Logo/>
        <figcaption class="font-title">loak.studio</figcaption>
    </figure>
    <div>
        {links.map(link=>
        
        <p>lien</p>
        )}
    </div>
</nav>
