---
import Logo from "./logo.astro"
import Lbutton from "../components/lbutton.astro"
import {getData} from "../functions.js"
const {request} = Astro
---

<nav class="flex items-center justify-between w-full px-12 py-6">
    <figure class="relative flex items-center gap-4 text-4xl">
        <Logo/>
        <figcaption class="font-title">
            <a href="/" class="before:absolute before:inset-0 text-primary">loak.studio</a>
        </figcaption>
    </figure>
    <div class="items-center hidden gap-12 text-lg md:flex text-grey-dark"> 
            <a href="/" class={"transition hover:underline " + ((request.url.pathname == "/") ? 'text-primary' : 'hover:text-primary')}>Accueil</a>
            <a href="/contact" class={"transition hover:underline " + ((request.url.pathname == "/contact") ? 'text-primary' : 'hover:text-primary')}>Contact</a>
        
    </div>
</nav>
