---
import Icon from "../components/icon.astro"
import {API_URL} from "../config"
const {data} = Astro.props
---
<div class={"relative overflow-hidden flex flex-col lg:flex-row items-center p-4 lg:p-8 transition-all group project bg-lgrey-light lg:rounded-3xl " + (data.finished ? 'hover:opacity-80' :'')}>
    {!data.finished &&
        <div class="absolute inset-0 flex items-center justify-center text-white transition-all bg-black bg-opacity-75 cursor-wait lg:opacity-0 group-hover:opacity-100">
            <div class="p-5 bg-lwhite text-lblack rounded-3xl">
                Projet en cours
            </div>
        </div>
    }
    <figure class="hidden w-full max-w-sm lg:block">
        <img class="w-full" src={"/portfolio/" + data.slug + "/" + data.mockup} alt="">
    </figure>
    <div class="flex flex-col gap-6 lg:p-14">
        <figure class="w-16">
            <img class="w-full" src={"/portfolio/" + data.slug + "/" + data.icon} alt="">
        </figure>
        <h2>{data.title}</h2>
        <p class="max-w-[64ch]">{data.description}</p>
        {data.finished &&
         <a class="self-end transition-all before:absolute before:inset-0 group-hover:-mr-3" href={"/realisations/" + data.slug}>
            <Icon name="right"/>
        </a>
        }
    </div>
</div>