---
import pencil from "../images/pencil-iso-clay.webp"
import about from "../images/illu-about.svg"
---
<section class="relative flex items-center max-w-6xl mx-auto mt-36">
    <img src={about} alt="">
    <div class="flex flex-col gap-4">
        <h2 class="text-5xl">Que faisons nous ?</h2>
        <p>Loak.studio est une agence web localisée en Belgique, à Tournai. Nous avons pour objectif de créer des solutions éthiques, sur mesure et dont vos utilisateurs se souviendrons. </p>
        <p>Tout est possible quand on est bien entouré !</p>
    </div>
    <img class="absolute rotate-45 top-24 -right-32 w-60" src={pencil} alt="">
</section>