---
    const {articles} = Astro.props
---
<div class={"flex flex-col w-full gap-4 lg:flex-row" + " " + (articles[0] ? 'justify-between' : 'justify-end')}>
    {articles[0]&&
    <div class="relative self-end p-4 transition rounded-lg align lg:w-6/12 hover:shadow-lg hover:-translate-y-1">
        <a class="text-lg text-lgrey before:absolute before:inset-0" href={"/blog/" + articles[0].slug}>Article précédent</a>
        <h4>
            {articles[0].content.title}
        </h4>
    </div>
    }
   {articles[1] &&
    <div class="relative flex flex-col p-4 transition rounded-lg lg:items-end lg:w-6/12 hover:shadow-lg hover:-translate-y-1">
        <a class="text-lg lg:text-right text-lgrey before:absolute before:inset-0" href={"/blog/" + articles[1].slug}>Article suivant</a>
        <h4 class="lg:text-right">
            {articles[1].content.title}
        </h4>
    </div>
   }
</div>