---
const { navigation } = Astro.props
---

<nav class="hidden md:block max-w-5xl mx-auto mb-16 px-4 lg:px-0" id="breadcrumb">
    <ul>
        <li class="inline-flex items-center  chevron">
            <a class="hover:underline" href="/">Accueil</a>
        </li>
        {navigation.map((item, index)=>
        <li class={"inline-flex items-center " + (index !==navigation.length -1 ? 'chevron' :'font-semibold')}>
                {index !== navigation.length-1 ?
                    <a class={" hover:underline"} href={item.href}>{item.title}</a>
            :
            <span>{item.title}</span>
            }
        </li>
        )}
    </ul>
</nav>