---
import Logo from "../atoms/Logo.astro"
const {request} = Astro
const url = new URL(Astro.request.url);
const links = [
    {
        name:"Accueil",
        href:"/"
    },
    {
        name:"Notre équipe",
        href:"/notre-equipe/"
    },
    {
        name:"Réalisations",
        href:"/realisations/"
    },
    {
        name:"Contact",
        href:"/contact/"
    }
]
---

<nav class="flex items-center justify-between w-full px-4 py-6 md:px-12">
    <figure class="relative flex items-center gap-4 text-3xl md:text-4xl">
        <Logo/>
        <figcaption class="font-title">
            <a href="/" class="before:absolute before:inset-0 text-primary font-title">loak.studio</a>
        </figcaption>
    </figure>
    <div id="menu" class="fixed top-0 left-0 z-20 flex flex-col items-center w-screen h-screen gap-12 pt-20 text-lg transition-all -translate-x-full bg-opacity-90 lg:pt-0 lg:flex-row lg:translate-x-0 lg:h-auto lg:w-auto bg-lwhite lg:relative text-grey-dark"> 
        {links.map(link=>
                    <a href={link.href} class={"transition hover:underline " + ((((url.pathname + "/").startsWith(link.href) && link.href != "/") || (link.href == "/" &&  link.href == url.pathname)) ? 'text-primary' : 'hover:text-primary')}>{link.name}</a>
        )}
    </div>
    <button id="toggle-menu" class="z-30 flex flex-col w-10 h-10 gap-1 pt-4 overflow-hidden lg:hidden">
        <div class="w-8 h-1 transition-all rounded-full bg-primary-darker"></div>
        <div class="w-8 h-1 transition-all rounded-full bg-primary-darker"></div>
        <div class="w-8 h-1 transition-all rounded-full bg-primary-darker"></div>
        <span class="sr-only">Menu</span>
    </button>
</nav>