---
const {pages, current} = Astro.props

---   

{pages > 1 &&

<div class="flex items-center justify-center gap-1 mt-9">
    {current > 1  &&
        <a href={(current-1) !== 1 ? "/blog/page/" + (current-1) + "/" : "/blog/"}>
        <svg xmlns="http://www.w3.org/2000/svg" class="rotate-180 stroke-black" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#888787" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="9 6 15 12 9 18" />
            </svg>
        </a>
    }
    {[...Array(pages)].map((page,index) =>
        <a href={(index+1) !== 1 ? "/blog/page/" + (index+1) +"/" : "/blog/"} class={"p-[0.625rem] border-2 rounded" + " " + (current == (index+1) ? ' bg-primary-darker border-primary-darker text-white':' transition border-transparent hover:border-primary-darker')}>{index+1}</a>
    )}
    {current < pages &&
        <a href={"/blog/page/" + (current+1)}>
            <svg xmlns="http://www.w3.org/2000/svg" class=" stroke-black" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#888787" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="9 6 15 12 9 18" />
            </svg>
        </a>
    }
</div>
}