---
import computerPng from "../../images/hero/computer-dynamic-clay.png"
import computerWebp from "../../images/hero/computer-dynamic-clay.webp"
---

<section class="flex flex-col items-center max-w-6xl gap-10 px-4 mx-auto mt-36 lg:flex-row lg:px-0">
    <picture width="500" height="500" class="lg:w-96">
        <source srcset={computerWebp} type="image/webp">
        <source srcset={computerPng} type="image/png">
        <img src={computerPng} alt="">
    </picture>
    <div class="flex flex-col gap-4 lg:p-8">
        <h2 class="text-5xl">loak.studio c'est quoi?</h2>
        <p class="max-w-[64ch]">Loak.studio est une agence web localisée à <strong>Tournai</strong> en Belgique. Nous
            avons pour objectif de créer des solutions éthiques, sur mesure et <strong>dont vos utilisateurs se
                souviendront</strong>.</p>
        <p class="max-w-[64ch]">Pour se faire, notre équipe est composée de <strong>designer et développeurs</strong>
            afin de répondre précisément à votre demande.</p>
        <p class="max-w-[64ch]">Tout est possible quand on est bien entouré !</p>
    </div>
</section>