<section class="flex flex-col items-center max-w-6xl gap-10 px-4 mx-auto mt-36 lg:items-start lg:flex-row lg:px-0">
    <figure>
        <img src="https://via.placeholder.com/500x500" alt="">
    </figure>
    <div class="flex flex-col gap-4 lg:p-8">
        <h2 class="text-5xl">loak.studio c'est quoi?</h2>
        <p class="max-w-[64ch]">Loak.studio est une agence web localisée en Belgique, à Tournai. Nous avons pour objectif de créer des solutions éthiques, sur mesure et dont vos utilisateurs se souviendrons. </p>
        <p class="max-w-[64ch]">Tout est possible quand on est bien entouré !</p>
    </div>
</section>