---
import teamJpg from "../../images/equipe.jpg"
import teamWebp from "../../images/equipe.webp"
---

<section class="items-center w-full max-w-6xl grid-cols-2 px-4 mx-auto lg:grid mt-36 lg:px-0">
    <h2 class="col-span-2 mb-4 text-5xl text-center">Qui sommes-nous?</h2>
    <p>Nous sommes une équipe de trois personnes, <a class="font-bold hover:underline" href="https://galandtristan.be"
            target="_blank">Tristan Galand</a>, <a class="font-bold hover:underline" href="https://geets.dev"
            target="_blank">Benjamin Geets</a> et <a class="font-bold hover:underline" href="https://mlava.dev"
            target="_blank">Mathieu Lava</a>, qui ont à cœur de défendre une vision du web moderne.
        Nous avons chacun notre spécialité, du code au design d'interface, ce qui nous permet d'être très flexible et de
        s'adapter aux envies et besoin de nos clients.
    </p>
    <figure class="overflow-hidden lg:ml-7 mt-14">
        <picture>
            <source loading="lazy" class="object-contain w-full rounded-3xl" alt="Equipe de Loak.studio" width="1560"
                height="1040" srcset={teamWebp} type="image/webp">
            <source loading="lazy" class="object-contain w-full rounded-3xl" alt="Equipe de Loak.studio" width="1560"
                height="1040" srcset={teamJpg} type="image/png">
            <img loading="lazy" class="object-contain w-full rounded-3xl" alt="Equipe de Loak.studio" width="1560"
                height="1040" src={teamJpg} alt="">
        </picture>
        <figcaption class="text-sm text-right text-gray-700">Notre équipe | <a class="hover:underline" target="_blank"
                href="https://bertrandbourgy.com">&copy; Bertrand Bourgy</a></figcaption>
    </figure>
</section>