---

---

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href={Astro.canonicalURL}>
    <script defer data-domain="loak.studio" src="https://plausible.io/js/plausible.js"></script>


    <script>
        import '../scripts/app.ts';
    </script>
</head>

<body class="flex font-content flex-col min-h-screen lg:overflow-y-auto bg-lwhite">

        <slot />

</body>

</html>